<div class="container">
  <form class="container" [formGroup]="emergencyContactForm" (ngSubmit)="onSubmit()">
   <mat-form-field appearance="outline" required>
     <mat-label>First Name</mat-label>
     <input matInput placeholder="First Name" formControlName="firstName" required (keyup)="clickHandler()">
   </mat-form-field>
   <mat-form-field appearance="outline" required>
     <mat-label>Last Name</mat-label>
     <input matInput placeholder="Last Name" formControlName="lastName" required (keyup)="clickHandler()">
   </mat-form-field>
   <mat-form-field appearance="outline" required>
     <mat-label>Country Name</mat-label>
     <input matInput placeholder="Enter the Country" formControlName="country" required (keyup)="clickHandler()">
   </mat-form-field>
   <mat-form-field appearance="outline" required>
    <mat-label>Contact Number </mat-label>
    <input matInput placeholder="Enter the Phone NO" formControlName="phoneNo" required (keyup)="clickHandler()">
   </mat-form-field>
   <button mat-raised-button color="warn" [disabled] = "!emergencyContactForm.valid">Submit</button>
  </form>
 </div>
