.panel{
  padding: 30px;
}

.mat-expansion-panel{
  margin-bottom: 10px;
}

.example-tab-icon {
  margin-right: 8px;
  color: red;
}

.example-tab-iconblue {
  margin-right: 8px;
  color: rgb(9, 224, 81);
}
